{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">이메일을 확인해주세요.</h4>
                <p>비밀번호 재설정 지침이 포함된 이메일을 발송했습니다. 이메일이 도착하기까지 몇 분 정도 걸릴 수 있습니다.</p>
                <hr>
                <p class="mb-0">이메일을 받지 못하셨다면, 스팸 폴더를 확인하시거나 올바른 이메일을 입력했는지 다시 확인해주세요.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
